
 .bodyclass {
    background: rgb(255, 255, 255);
  }


.questionfield {
    font-size:20px;
    background-color: #c5ee0d; 
    border-radius: 2px;
    width: 550px; height: 150px;
    border: 20px solid #c5ee0d;;
    margin: 30px auto;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.auswahldiv {
    margin: auto; 
    display: flex;
    text-align: center;
    justify-content: center;

    }

.auswahl { 
    background: rgb(231, 231, 231);
    width: 100px;
    margin: 20px; 
    padding: 10px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 5px 5px 5px grey;
    }

.nextbutton {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 20px; 
    margin: 20px; padding: 10px; 
    background-color: #c5ee0d;
    border-style: none;
    box-shadow: 5px 5px 5px grey;
    }

